* {
    background-color: black;
}

/* ------------------------------------------------------------------------------------------------------------COVER---------------------------------------------------------------------------------------------------------------- */

.cover {
    margin-top: 9em;
    text-align: center;
}

.index-video {
    margin-top: 2em;

}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    /* display: none; */
    /* Hidden by default */
    /* width: 100%; */
    /* Full width (cover the whole page)*/
    /* height: 100%; */
    /* Full height (cover the whole page) */
    /* padding: 5em 0; */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    /* z-index: 2; */
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; */
    /* Add a pointer on hover */
    padding: 12em;
    display: inline-block;
    background-image: url('../image/EYE-CROSS.png');
    background-size: cover;
    background-position: center;
    /* cursor: pointer; */
}